{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}H-phrase search by name{% endblock %}</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column1 {
  float: left;
  width: 33%;
  padding: 20px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 66%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


</style>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="qry">Chemical name or identifier:</label>
    <input name="qry" id="qry" autofocus="autofocus" required>
    <input type="submit" value="search">
  </form>

<div class="row">
  <div class="column1">
    {% if session["result"] %}
      <div class="about">Results for {{ session["query"] }}</div>
      <div class="about"><a href="{{ session["pclink"] }}">view full record on PubChem</a></div>
      <br><br>

      <img src="{{ session["imagelink"] }}">
      <br>Molecular weight = {{ session["mw"] }}
      {% if session["cas"] %}
      <br><br>CAS: {{ session["cas"] }}<br>
      {% endif %}

      {% if session["den"] %}
        <br><br><b>Reported densities</b>:<br>
        {% for v in session["den"] %}
        <div class="tooltip">
        {{ v[0]}}
        <span class="tooltiptext">{{ v[1] }}</span>
        </div>
        {% endfor %}
      {% endif %}
      <br>
    {% endif %}
  </div>
  {% if session["faves"] %}
  <div class="column3" style="background-color:#bbb;">
    <div class="about"><h3>Favourites</h3></div>
    <br>
    {% for key, value in session["faves"].items() %}
    {% if loop.index%2 == 0 %}
    <div class="row" style="background-color:#e6eaf0;">
      {% else %}
     <div class="row" style="background-color:#cbd0d6;">
       {% endif %}
      <div class="column1">
    <a href="/delete_favourite/{{ key }}">[X]</a>
    {{ key }}:
      </div>
      <div class="column2">
    <input type="text" value="{{ value|safe }}" id="{{ key }}"size="30">
    <div class="tooltip">
    <button onclick="myOtherFunction('{{ key }}','{{ key }}_tooltip')" onmouseout="outFunc()">
    <span class="tooltiptext" id="{{ key }}_tooltip">Copy to clipboard</span>
    Copy text
    </button>
    </div>
    </div>
    </div>
    {% endfor %}


  </div>
  {% endif %}
</div>

  {% if session["result"] %}

    <input type="text" value={{ data|safe }} id="myInput"size="{{ boxsize }}">
    <div class="tooltip">
    <button onclick="myFunction()" onmouseout="outFunc()">
    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
    Copy text
    </button>
    </div>

<a href="/add_favourite"><button>Add to favourite reagents</button></a>

  <br>H-phrases are quoted with the percentage of suppliers reporting that phrase.

    {% for message in session["result"] %}
      {% if "(requires signoff)" in message %}
        <div class="crash">{{ message }}</div>
      {% else %}
        <div class="flash">{{ message }}</div>
      {% endif %}
    {% endfor %}

  {% endif %}

<div class="about">DISCLAIMER: Use at your own risk. H-phrases are retrieved from PubChem.
  Consult MSDS before handling hazardous chemicals. H-phrases are reported with the percentage
  of suppliers providing that H-phrase where this information is available.</div>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied";
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}

function myOtherFunction(a,b) {
  var copyText = document.getElementById(a);
  copyText.select();
  document.execCommand("copy");

  var tooltip = document.getElementById(b);
  tooltip.innerHTML = "Copied";
}

</script>

{% endblock %}

